.top_banner {
    background-color: darkgrey;
}

#main_text{    
  font-size: 20.228px;
  font-family: "Arial";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: justifyLeft;
  /*-moz-transform: matrix( 1.23623853211009,0,0,1.23589364303729,0,0);
  -webkit-transform: matrix( 1.23623853211009,0,0,1.23589364303729,0,0);
  -ms-transform: matrix( 1.23623853211009,0,0,1.23589364303729,0,0);
  position: absolute;
  left: 524.384px;
  top: 1391.982px;
  width: 872.233px;
  height: 1158.875px;
  z-index: 7;*/
}

.fa-angle-double-right{
    color: darkgray;
}

.border_top_5 {
    border-top: 5px solid orange;
}

.border_bottom_2{
    border-bottom: 2px solid orange;
}

.border_2 {
    border: 2px solid white;
}

@media screen and (max-width: 600px) {
    /*.display-4{
        font-size: 2rem !important;
    }*/
  }

  @media screen and (max-width: 990px) {
    .h3, .h5 {
        font-size: 1.25rem !important;
    }

    /*.display-4{
        font-size: 2.5rem !important;
    }*/
  }

  @media screen and (max-width: 765px) {
    .contact_links {
        font-size: .75rem !important;
    }

    .display-4{
        font-size: 2rem !important;
    }
  }

  @media screen and (max-width: 740px) {
    .h3, .h5 {
        font-size: 1rem !important;
    }
  }

  @media screen and (max-width: 620px) {
    .h3, .h5 {
        font-size: .75rem !important;
    }

    .btn {
        font-size: .75rem !important;
    }
  }

  @media screen and (max-width: 400px) {
    .display-4{
        font-size: 1.5rem !important;
    }

    .btn {
        font-size: .5rem !important;
    }
  }