.top_banner {
    background-color: darkgrey;
}

.fa-angle-double-right{
    color: darkgray;
}

.border_top_5 {
    border-top: 5px solid orange;
}

.border_bottom_2{
    border-bottom: 2px solid orange;
}

.border_2 {
    border: 2px solid white;
}

@media screen and (max-width: 600px) {
    /*.display-4{
        font-size: 2rem !important;
    }*/
  }

  @media screen and (max-width: 990px) {
    .h3, .h5 {
        font-size: 1.25rem !important;
    }

    /*.display-4{
        font-size: 2.5rem !important;
    }*/
  }

  @media screen and (max-width: 765px) {
    .contact_links {
        font-size: .75rem !important;
    }

    .display-4{
        font-size: 2rem !important;
    }
  }

  @media screen and (max-width: 740px) {
    .h3, .h5 {
        font-size: 1rem !important;
    }
  }

  @media screen and (max-width: 620px) {
    .h3, .h5 {
        font-size: .75rem !important;
    }

    .btn {
        font-size: .75rem !important;
    }
  }